<br><h3 style="text-align: center">data insert: putting new medical point into database by name</h3><br>

  <head>
    <link href="../pages/css/datainsert.css" rel="stylesheet">
  </head>

  <body>
      
    <div class="container">
        
        <form class="form-signin" ng-submit="request()">
            <h2 class="form-signin-heading">Please insert the name of the hospital</h2>
      
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="Hospital Name" ng-model="googleName" class="form-control" placeholder="Hospital Name" required>
            <div style="text-align: center">
                <input type="submit" value="submit data to the database" class="btn btn-primary">
            </div>
            
        </form>
         
    <br/><br/>
        
    <div style="text-align: center" class="form-signin">
        <button class="btn btn-primary" ng-click="changeflag()">
        Insert new medical point manually</button><br/>
    </div>

        
    <form ng-show="flag" class="form-signin" ng-submit="submit()">
        <h2 class="form-signin-heading">Please insert the data of the hospital</h2>
      
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="Hospital Name" ng-model="hospital.name" class="form-control" placeholder="Hospital Name" required>
        
        <label for="inputCity" class="sr-only">City</label>
        <input type="text" id="Hospital City" ng-model="hospital.city" class="form-control" placeholder="Hospital City" required>
        
        <label for="inputProvince" class="sr-only">Province</label>
        <input type="text" id="Hospital Province" ng-model="hospital.province" class="form-control" placeholder="Hospital Province" required>
        
        <label for="inputCountry" class="sr-only">Country</label>
        <input type="text" id="Hospital Country" ng-model="hospital.country" class="form-control" placeholder="Hospital Country" required>
        
        <label for="inputStreetName" class="sr-only">Street Name</label>
        <input type="text" id="Hospital Street Name" ng-model="hospital.address.streetName" class="form-control" placeholder="Street Name" required>
        
        <label for="inputStreetNumber" class="sr-only">Street Number</label>
        <input type="text" id="Hospital Street Number" ng-model="hospital.address.streetNumber" class="form-control" placeholder="Street Number" required>
        
        <label for="inputPostalCode" class="sr-only">Postal Code</label>
        <input type="text" id="Hospital Postal Code" ng-model="hospital.address.postalCode" class="form-control" placeholder="Postal Code" required>
        
        <div style="text-align: center">
            <input type="submit" value="submit data to the database" class="btn btn-primary">
        </div>
        
      </form>
    </div>

</body>

