

  <head>
    <link href="css/gethelp.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" ng-submit="request()">
        <h2 class="form-signin-heading">Please insert your current position</h2>
      
        <label for="inputCity" class="sr-only">City</label>
        <input type="text" id="inputCity" ng-model="city" class="form-control" placeholder="City" required>
          
        <label for="inputStreet" class="sr-only">Street</label>
        <input type="text" id="inputStreet" ng-model="street" class="form-control" placeholder="Street name" required>
          
        <label for="inputNumber" class="sr-only">Number</label>
        <input type="text" id="inputnumber" ng-model="number" class="form-control" placeholder="Street number" required>
          
        <label for="inputIllness" class="sr-only">Illness</label>
        <input type="text" id="illnessnumber" ng-model="illness" class="form-control" placeholder="illness">
          
        <input type="submit" value="submit data" class="btn btn-primary">

      </form>
        
      
      <h3>you entered {{ city }} {{ street }} {{ number }} </h3>
      
      <div ng-repeat="result in results">
            {{ result[0] }}<br/>
            
      </div>
        <br/>
        
      <div ng-repeat="result in finalresults">
            {{ result }}
      </div>
        
<!--        <h4>{{ results.results }}</h4>-->
        
        
    </div>

</body>

