<h2>Browse through the list of medical points from our database!</h2>

<form ng-submit = "request()">
    <label for="inputID">Please insert the ID of hospital you are looking for</label>
    <br>
    <input type="text" id="inputID" ng-model="ID" placeholder="ID" required>
    <br>
    <input type="submit" value="get the medical point" class="btn btn-primary">
</form>

    <br>
    <div ng-repeat="result in results">
        <div class="alert alert-success" role="alert">
            This ID represents {{result.name}} in {{result.city}}.<br> 
            It is located on {{result.address.streetName}} {{result.address.streetNumber}}, 
            postal code: {{result.address.postalCode}}   
        </div>
    </div>




