<br><h3 style="text-align: center">data insert: putting new medical point into database by name</h3><br>

  <head>
    <link href="../pages/css/datainsert.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <form class="form-signin" ng-submit="request()">
        <h2 class="form-signin-heading">Please insert the name of the hospital</h2>
      
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="Hospital Name" ng-model="name" class="form-control" placeholder="Hospital Name" required>
          
        <input type="submit" value="submit data" class="btn btn-primary">

      </form>
        
<!-- commented since return data from server for now is not in json format
      <div ng-repeat="result in results">
            {{ result }}
      </div>
-->    
    <br/><br/>
        
        
        
    <form class="form-signin" ng-submit="submit()">
        <h2 class="form-signin-heading">Please insert the data of the hospital</h2>
      
        <label for="inputName" class="sr-only">Name</label>
        <input type="text" id="Hospital Name" ng-model="hospital.name" class="form-control" placeholder="Hospital Name" required>
        
        <label for="inputCity" class="sr-only">City</label>
        <input type="text" id="Hospital City" ng-model="hospital.city" class="form-control" placeholder="Hospital City" required>
        
        <label for="inputProvince" class="sr-only">Province</label>
        <input type="text" id="Hospital Province" ng-model="hospital.province" class="form-control" placeholder="Hospital Province" required>
        
        <label for="inputCountry" class="sr-only">Country</label>
        <input type="text" id="Hospital Country" ng-model="hospital.country" class="form-control" placeholder="Hospital Country" required>
        
        <label for="inputStreetName" class="sr-only">Street Name</label>
        <input type="text" id="Hospital Street Name" ng-model="hospital.address.street_name" class="form-control" placeholder="Street Name" required>
        
        <label for="inputStreetNumber" class="sr-only">Street Number</label>
        <input type="text" id="Hospital Street Number" ng-model="hospital.address.street_number" class="form-control" placeholder="Street Number" required>
        
        <label for="inputPostalCode" class="sr-only">Postal Code</label>
        <input type="text" id="Hospital Postal Code" ng-model="hospital.address.postal_code" class="form-control" placeholder="Postal Code" required>
        
        <input type="submit" value="submit data" class="btn btn-primary">

      </form>      
    </div>
      
      <div>
          <h4>{{ jsonrequest }}</h4>
      </div>

</body>

